.user-info{
  background-color: #e6e6e6;
  color: #333;
  cursor: pointer;
  transition: all .2s ease;
  padding: .5rem;
  line-height: normal;
}

.user-info p{
  font-weight: 500;
  /* color: #333333; */
  text-transform: capitalize;
}

.selected{
  background-color: #3498db;
  transition: all .2s ease;
}

.selected p, .selected span{
  color: #fff;
  transition: all .2s ease;
}

.notification {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75em;
  font-weight: 700;
  /* width: 20px;
  height: 20px; */
  color: #EAF6FE;
  border-radius: 50%;
  background-color: #3498db;
  margin-left: .3rem;
  width: 0;
  height: 0;
  animation: expandCircle .1s linear forwards; 
}

@keyframes expandCircle {
  0% {
    opacity: 0;
  }
  100% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
}
